#game-over {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	place-items: center;
	font-family: "Silkscreen", sans-serif;
	z-index: 10;
	h2 {
		font-family: 'Silkscreen', serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #F2EDFF;
	}
	.final-score { color: #ABE6FF; }

	.play-again {
		font-size: 30px;
		background: linear-gradient(to bottom, #FFABE5 60%, #FF83D9 50%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}

	.skull {
		z-index: 5;
		width: 50px;
		height: 50px;
	}
	.go-title {
		width: 55vw; max-width: 300px;
	}
	img {
		image-rendering: pixelated;
	}

	.bg { z-index: -1; }
	.stop-1 {
		position: absolute;
		left: 0; right: 0;
		top: 57.18%; bottom: 28.56%;
		background: #3A2573;
	}
	.stop-2 {
		position: absolute;
		left: 0; right: 0;
		top: 42.87%; bottom: 42.82%;
		background: #3F297B;
	}

	.stop-3 {
		position: absolute;
		left: 0; right: 0;
		top: 85.74%; bottom: 0;
		background: #311E64;
	}
	.stop-4 {
		position: absolute;
		left: 0; right: 0;
		top: 71.44%; bottom: 14.26%;
		background: #36216F;
	}
	.stop-5 {
		position: absolute;
		left: 0; right: 0;
		top: 28.52%; bottom: 57.13%;
		background: #482F8A;
	}
	.stop-6 {
		position: absolute;
		left: 0; right: 0;
		top: 14.26%; bottom: 71.48%;
		background: #503599;
	}

	.stop-7 {
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 85.74%;
		background: #5B3EAB;
	}
}