#game-over {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  place-items: center;
  background: rgba(255, 36, 86, 1);
  font-family: "Silkscreen", sans-serif;
  z-index: 2;
  .go-title {
    font-size: 60px;
    padding: 30px;
    color: #fff;
    text-shadow: 0 5px 0 rgba(0,0,0,0.2);
  }
}