@use "../base/globals";

#game-over {
	--mask-size: 100% 200%;

	pointer-events: none;
	display: grid;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	place-items: center;
	font-family: "Silkscreen", sans-serif;
	background: #FF4D88 url("#{globals.$game-over-bg}") repeat 0 center;
	background-size: 128px auto;
    animation: slide 4s linear infinite reverse;
	z-index: 10;

	mask: url("#{globals.$melt-mask}") no-repeat 0% 200% / var(--mask-size);
    -webkit-mask: url("#{globals.$melt-mask}") no-repeat 0% 200% / var(--mask-size);

	@media (max-width: 900px) {
		--mask-size: 200% 200%;
	}

	&.visible {
		transition: mask-position 1s ease, -webkit-mask-position 1s ease;
		mask-position: 0 0;
		-webkit-mask-position: 0 0;
		pointer-events: all;

		#red-overlay {
			opacity: 0;
		}

		.go-title {
            animation: bounceIn 0.5s ease 0.3s forwards;
        }
        .final-score {
            animation: jackInTheBox 0.5s ease 0.7s forwards;
        }
        .play-again {
            animation: bounceIn 0.7s ease 0.9s forwards;
        }
        .play-again-btn {
            animation: jackInTheBox 0.3s ease 1s forwards;
        }
		.tombstone {
			animation: swing 1s ease forwards 0.1s;
			transform-origin: bottom;
			opacity: 1;
			bottom: 0;
		}
		.question {
			opacity: 1;
            animation: pop-thingie 3s ease infinite;
        }
		.excl {
			opacity: 1;
            animation: pop-thingie-2 3s ease infinite;
        }
		.ghost {
			opacity: 0.85;
			transition: opacity 0.3s ease 1s;
			animation: hover 3s infinite ease-in-out;
		}
	}

	.go-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	#red-overlay {
		position: fixed;
		width: 100%; height: 100%;
		top: 0; left: 0;
		background: #ff3282;
		opacity: 1;
		pointer-events: none;
		transition: opacity 0.4s ease 0.1s;
	}

	.deco-icons {
		display: flex;
		gap: 14px;
		margin-bottom: 20px;
		z-index: -3;
		img {
			height: 55px;
			image-rendering: pixelated;
			filter: drop-shadow(5px 5px 0px var(--shadow-pink-010));
		}
	}

	h2 {
		font-family: 'Silkscreen', serif;
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #ffffff;
		text-shadow: 0 5px 0 var(--shadow-pink-015);
	}
	.final-score {
		color: #DFF3FF;
		font-weight: bold;
		font-family: 'serious1', sans-serif;
	}
	.you-died {
		font-size: 26px;
		top: 50px;
		font-weight: bold;
		font-family: 'serious1', sans-serif;
		max-width: 250px;

		@media screen and (min-height: 950px) {
			position: absolute;
		}
	}

	.play-again {
		font-size: 30px;
		-webkit-text-stroke: 10px #696491;
		filter: drop-shadow(4px 4px 0px var(--shadow-pink-015));
		paint-order: stroke fill;
	}

	.go-title {
		width: 80vw; max-width: 380px;
		filter: drop-shadow(5px 5px 0px var(--shadow-pink-005));
	}
	img {
		image-rendering: pixelated;
	}
	.tombstone-area {
		position: fixed;
		width: 100%;
		height: 100%;
		pointer-events: none;

		@media screen and (max-height: 950px) {
			left: 25vw;
		}
		@media screen and (max-height: 950px) and (max-width: 900px) {
			display: none;
		}
	}
	.tombstone {
		position: absolute;
		transition: bottom 0.5s ease, opacity 0.5s ease;
		bottom: -50px;
		width: 130px;
		left: calc(50% - 62px);
	}
	.ghost {
		position: absolute;
		width: 100px;
		bottom: 80px;
		left: calc(50% + 70px);
		z-index: 2;
		image-rendering: auto;
	}

	.go-title,
	.final-score,
	.play-again,
	.play-again-btn,
	.tombstone,
	.ghost,
	.question,
	.excl {
		opacity: 0;
	}
}
#red-flash {
	position: fixed;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background: #ff3282;
	z-index: 15;
	opacity: 0;
	pointer-events: none;
	&.flash {
		animation: flash-custom 0.5s ease forwards;
	}
}