@use "globals";

@keyframes slide {
	0% { background-position: 0 0; }
	100% { background-position: -128px -128px; }
}
@keyframes scanlines {
	0% { background-position: 0 0; }
	100% { background-position: 0 1920px; }
}

@keyframes gradient {
	0% {
		color: transparent;
		background-image: globals.$rainbow-gradient;
		background-clip: text;
		background-size: 200% auto;
		background-position: 0% center;
	}
	100% {
		color: white;
		background-position: 200% center;
	}
}


@keyframes hide-heart {
	from { opacity: 1 } to { opacity: 0 }
}
@keyframes fade-in-up {
	to {
		color: #4B4D5A;
		opacity: 1;
		transform: translateY(0);
  	}
}

@keyframes text-gradient {
	0% {
		color: transparent;
		background-image: globals.$rainbow-gradient;
		background-clip: text;
		background-size: 100% auto;
		background-position: 0% center;
	}
	100% {
		color: #4B4D5A;
		background-position: 200% center;
	}
}

@keyframes wavy-text {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

@keyframes shake {
	0% { transform: scale(1) translateX(0); }
	50% { transform: scale(0.95) translateX(-3px); }
	100% { transform: scale(1) translateX(0); }
}

@keyframes move-stripes {
	from { background-position: 0 0; }
	to { background-position: -28px 0; }
}

@keyframes point {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes progress-anim {
	from { transform: scaleX(1); } to { transform: scaleX(0); }
}

@keyframes pop {
	0% {
		transform: scale(1) rotate(0);
		filter: none;
	}
	40% {
		transform: scale(1.125) rotate(0);
		filter: brightness(1.2) saturate(72%);
	}
	100% {
		transform: scale(1) rotate(0);
		filter: none;
	}
}

@keyframes pop-dec {
	0% {
		transform: scale(1) rotate(0);
		filter: none;
	}
	40% {
		transform: scale(1.18) rotate(-2.5deg);
		filter: brightness(1.3) saturate(72%);
	}
	100% {
		transform: scale(1) rotate(0);
		filter: none;
	}
}

@keyframes pop-right {
	0% {
		transform: scale(1) rotate(0);
		filter: none;
	}
	40% {
		transform: scale(1.18) rotate(1.5deg);
		filter: brightness(1.2) saturate(72%);
	}
	100% {
		transform: scale(1) rotate(0);
		filter: none;
	}
}

@keyframes fade-gradient {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	40% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes reset-shake {
	0%, 100% { transform: translate(0, 0); }
	25% { transform: translate(-7px, 0); }
	50% { transform: translate(7px, 0); }
	75% { transform: translate(-2px, 0); }
}
@keyframes no-boosts-shake {
	0%, 100% { transform: translate(0, 0); opacity: 1 }
	25% { transform: translate(-7px, 0); opacity: 0.7}
	50% { transform: translate(7px, 0); opacity: 0.7}
	75% { transform: translate(-3px, 0); opacity: 0.7}
}

@keyframes blink {
	0% {opacity: 1} 50% {opacity: 0} 100% {opacity: 1}
}

@keyframes heart-scale {
	0% {
		transform: scale(1) rotate(-3deg);
	}
	50% {
		transform: scale(1.1) rotate(7deg);
	}
	100% {
		transform: scale(1) rotate(-3deg);
	}
}

@keyframes hover {
	0% { transform: translateY(0px); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0px); }
}

@keyframes float-up {
    0% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}