@use "../base/globals";

* { box-sizing: border-box; cursor:url("#{globals.$cursor}"), auto !important; }
::-webkit-scrollbar { display: none; }

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    z-index: 1;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 32px;
    text-align: center;

    background: #FFBFF0 url("#{globals.$body-bg-image}") repeat 0 center;
    background-size: 128px auto;
    animation: slide 3s linear infinite;

    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

button,
input,
textarea,
select, {
    -webkit-app-region: no-drag;}

img {
    -webkit-user-drag: none; user-drag: none;
    :not(#closeApp) {
    pointer-events: none;
    image-rendering: pixelated;
    }
}

svg { transition-duration: 0.2s; }