@use "globals";

#counter.new-score-counter {
	fill: url(#gradient-counter);
}

.hearts .heart-pink, .heart-purple, .heart-blue, .heart-white {
	animation: heart-scale 2.5s cubic-bezier(0.25,0.10,0.25,1.00) infinite;

	@for $i from 1 through 4 {
		&:nth-child(#{$i}) {
			animation-delay: (globals.$delay-step * ($i - 1));
		}
	}
}

#high-score.new-score {
	animation: bounce 0.6s, gradient 2s ease;
	transform-origin: center;
}

.new-goal {
	animation: swing ease;
	transform-origin: bottom;
}

.fade-up-text span {
	opacity: 0;
	transform: translateY(20px);
	display: inline-block;
	animation: fade-in-up 0.2s ease-out forwards var(--delay);
}

.game-name span {
	display: inline-block;
	animation: wavy-text 2.5s cubic-bezier(0.25,0.10,0.25,1.00) infinite var(--delay);
}

.no-boost-text span {
	display: inline-block;
	animation: shake 2s ease infinite var(--delay);
}

.pop {
	animation: pop 0.3s cubic-bezier(0.2, 1.56, 0.7, 1);
	transform-origin: center;
}

.pop-dec {
	animation: pop-dec 0.3s cubic-bezier(0.2, 1.56, 0.7, 1);
	transform-origin: center;
}

.pop-right {
	animation: pop-right 0.3s cubic-bezier(0.2, 1.56, 0.7, 1);
	transform-origin: center;
}

.pop-gradient {
	animation: fade-gradient 0.3s cubic-bezier(0.2, 1.56, 0.7, 1);
	transform-origin: center;
}

.reset-shake {
	animation: reset-shake 0.25s ease-out;
	transform-box: fill-box;
	transform-origin: center;
}
.no-boosts-shake {
	animation: no-boosts-shake 0.25s ease-out;
	transform-box: fill-box;
	transform-origin: center;
}
.no-boosts-flash {
	animation: flash 0.5s ease;
	transform-box: fill-box;
	transform-origin: center;
}
.boost-notification {
    animation: float-up 0.45s ease-out forwards;
}