@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/alien-cyborg');

$assets: "../../assets";
$body-bg-image: "#{$assets}/images/png/textures/tile.png";
$cursor: "#{$assets}/ui/hand.png";
$scanline: "#{$assets}/images/png/textures/scanlines-2.png";
$delay-step: 0.5s;