@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/alien-cyborg');

$assets: "../../assets/images";
$body-bg-image: "#{$assets}/png/tile.png";
$delay-step: 0.5s;