@use "base/app";
@use "base/globals";
@use "base/animations";
@use "base/effects";

@use "components/buttons";
@use "components/counter";
@use "components/progress-bar";
@use "components/text";
@use "components/vfx";
@use "components/goal";
@use "components/hearts";

@use "states/game-over";
@use "states/loading";