@use "base/app";
@use "base/globals";
@use "base/animations";

@use "components/buttons";
@use "components/counter";
@use "components/progress-bar";
@use "components/text";
@use "components/vfx";
@use "components/goal";

@use "states/effects";
@use "states/game-over";