.buttons {
    display: flex;
    gap: 22px;
    padding: 30px 40px 20px 40px;
    justify-content: center;
}

#increase-button,
#decrease-button {
    img {
        width: 150px;
        height: 150px;
        filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.2));
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    img {
        width: 170px;
        filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.2));
    }
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
      filter: brightness(0.95) saturate(120%);
    }

    &:active {
      transform: scale(0.75);
    }
}

.controls {
    position: absolute;
    top: 30px;
    right: 30px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: end;

	img {
		width: 30px;
    	height: 30px;
	}
}

