.buttons {
    display: flex;
    gap: 22px;
    padding: 30px 40px 20px 40px;
    justify-content: center;
}

#increase-button,
#decrease-button {
    img {
        width: 150px;
        height: 150px;
        filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.2));
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
  img {
      width: 150px;
      filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.2));
  }
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

  &:hover {
    filter: brightness(0.95) saturate(120%);
  }

  &:active {
    transform: scale(0.75);
  }
}

#closeApp {
  position: absolute;
  padding: 30px;
  width: 90px;
  top: 0; right: 0;
  cursor: pointer;
}

