#counter {
  fill: url(#default-color);
  text-shadow: 0px 12px 0px rgba(206,42,133,0.15);
  transition: fill 0.3s ease !important;
}

.counter-container {
  position: relative;
  display: inline-block;
  padding: 30px;

  .counter-svg {
    margin: 30px 12px -20px 12px;
    width: 100%;
    height: 100%;
    font-size: 110px;
    font-family: 'Alien Cyborg', sans-serif;
    letter-spacing: 10px;
    transform: scale(1.55);
    padding: 30px;
    //background: red;
  }
}