#counter {
  fill: url(#default-color);
  text-shadow: 0px 12px 0px var(--shadow-pink-015);
  transition: fill 0.3s ease !important;
}

.counter-container {
  position: relative;
  display: inline-block;
  padding: 30px;

  .counter-svg {
    margin: 30px 12px -20px 12px;
    width: 100%;
    height: 100%;
    font-size: 110px;
    font-family: 'Alien Cyborg', sans-serif;
    letter-spacing: 10px;
    transform: scale(1.72);
    padding: 30px;
  }
	.shine-rect {
		fill: white;
		height: 48%;
		mix-blend-mode: soft-light;
		opacity: 0.3;
	}
}
//
//.table {
//	background: #e2e1ff;
//	outline: 8px solid #38344A;
//	width: 100vw;
//	height: 230px;
//    position: absolute;
//    top: 90%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//	image-rendering: pixelated;
//	z-index: -10;
//}