.goal-chatbox {
	display: flex;
    flex-direction: column;
    align-items: center;
	filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.05));
	animation: hover 2s infinite ease-in-out;
	position: relative;

	.next-goal {
		background: white;
		padding: 8px 12px;
		text-align: center;
		image-rendering: pixelated;
		white-space: nowrap;
		display: inline-block;
		position: relative;

		.goal-text {
			color: #4B4D5A;
			font-family: "Silkscreen", monospace;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.chat-tip {
		width: 32px;
		height: 16px;
		margin-top: -6px;
		z-index: -1;
		animation: point 2s infinite ease-in-out;
	}

	.chat-deco {
		position: absolute;
		margin: 6px;
		top: 0; left: 0;
		//transform: rotateX(180deg);
		opacity: 0.15;
	}

	//.triangle {
	//	margin-top: -6px;
	//	width: 32px;
	//	height: 16px;
	//	background: white;
	//	clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
	//	z-index: -1;
	//	animation: point 2s infinite ease-in-out;
	//}
}