.goal-chatbox {
	display: flex;
    flex-direction: column;
    align-items: center;
	filter: drop-shadow(0px 7px 0px rgba(206,42,133,0.15));
	animation: hover 2s infinite ease-in-out;

	.next-goal {
		background: white;
		padding: 8px 12px;
		text-align: center;
		image-rendering: pixelated;
		white-space: nowrap;
		display: inline-block;
	 	border-top: 3px solid #c1eeff;

		.goal-text {
			color: #4B4D5A;
			font-family: "Silkscreen", monospace;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.triangle {
		margin-top: -6px;
		width: 32px;
		height: 16px;
		background: white;
		clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
		z-index: -1;
	}
}

.fade-up-text span {
	opacity: 0;
	transform: translateY(20px);
	display: inline-block;
	animation: fadeInUp 0.2s ease-out forwards var(--delay);
}