.goal-chatbox {
	display: flex;
    flex-direction: column;
    align-items: center;
	filter: drop-shadow(0px 7px 0px var(--shadow-pink-005));
	animation: hover 2s infinite ease-in-out;
	position: relative;

	.next-goal {
		background: white;
		padding: 8px 12px;
		text-align: center;
		image-rendering: pixelated;
		white-space: nowrap;
		display: inline-block;
		position: relative;

		.goal-text {
			color: #4B4D5A;
			font-family: "Silkscreen", monospace;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.chat-tip {
		width: 32px;
		height: 16px;
		margin-top: -6px;
		z-index: -1;
		animation: point 2s infinite ease-in-out;
	}
	.notifications {
		position: relative;
		display: flex;
		justify-content: center;
	}
	.boost-notif-text, .theme-switch-notif-text, .score-notif-text {
		position: absolute;
		white-space: nowrap;
		color: white;
		font-family: 'serious1', sans-serif;
		font-size: 20px;
		opacity: 0;
	}
}