
.hearts {
    display: flex;
    gap: 15px;
	height: 60px;
    justify-content: center;
	flex-direction: row;
    align-items: center;

	.heart-pink, .heart-purple, .heart-blue, .heart-white {
		transform:rotate(-3deg);
	}
    img {
      width: 60px;
    }
}
.heart-use {
	visibility: hidden;
	opacity: 0;
}
.boost-stuff {
	max-height: 60px;
}