
.hearts {
    display: flex;
    gap: 15px;
	height: 64px;
    justify-content: center;
	flex-direction: row;
    align-items: center;

	.heart-pink, .heart-purple, .heart-blue, .heart-white {
		transform:rotate(-3deg);
	}
    img {
      width: 64px;
    }
}
.heart-use {
	visibility: hidden;
	opacity: 0;
}
.boost-stuff {
	max-height: 64px;
}

#popupElement {
	position: fixed;
	display: none;
	pointer-events: none;
}