.progress {
  display: grid;
  place-items: center;
  transform: translateY(30px);
  height: 13px;

  .progress-bg {
  grid-area: 1 / 1;
  height: 13px;
  }
  .progress-bg {
    width: 140px;
    background: #645D8A;
    outline: 4px solid #FFE7F9;
  }
}