.progress {
	display: grid;
	place-items: center;
	transform: translateY(30px);
	height: 13px;
	filter: drop-shadow(5px 5px 0px var(--shadow-pink-005));

	.pg-lines {
		grid-area: 1 / 1;
		height: 13px;
		width: 140px;
		background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 5px,
			rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
		background-size: 28px 28px;
		animation: move-stripes 2s linear infinite;
		z-index: 2;
		opacity: 0.5;
		mix-blend-mode: overlay;
		//box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 1);
	}

	.progress-bg {
		grid-area: 1 / 1;
		height: 13px;
		width: 140px;
		background: #645D8A;
		box-shadow:
		  -4px 0 0 0 #ffecfa,
		  4px 0 0 0 #ffecfa,
		  0 -4px 0 0 #ffecfa,
		  0 4px 0 0 #ffecfa;
	}
}