.title {
  color: #fff;
  text-shadow: 0 5px 0 var(--shadow-pink-015);
  transform: translateY(60px);
  font-family: "Silkscreen", sans-serif; font-size: 30px;
  font-weight: bold;
  font-style: normal;
  margin: 0 auto;
  text-align: center;
}

#high-score {
  position: absolute;
  font-size: 18px;
  color: white;
  text-shadow: 0 5px 0 var(--shadow-pink-015);
  font-family: "Silkscreen", sans-serif;
  font-weight: bold;
  bottom: -10px;
  right: 0;
  padding: 30px;
  text-align: right;
}