.title, .no-boosts {
  color: #fff;
  text-shadow: 0 5px 0 var(--shadow-pink-015);
  font-family: "Silkscreen", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin: 0 auto;
  text-align: center;
}
.title {
	transform: translateY(60px);
	font-size: 30px;
}
.no-boosts {
	display: none;
	padding-top: 10px !important;
	font-size: 26px;
}

.count-cursor {
	position: fixed;
	font-family: 'SMW Text NC', sans-serif;
	font-size: 24px;
	pointer-events: none;
	z-index: 5;
}

#high-score {
  position: absolute;
  font-size: 22px;
  color: white;
  text-shadow: 0 4px 0 var(--shadow-pink-015);
  font-family: 'serious1', sans-serif;
  font-weight: bold;
  bottom: -10px;
  right: 0;
  padding: 30px;
  text-align: right;
}

.app-ver {
  position: absolute;
  font-size: 18px;
  color: white; opacity: 0.6;
  font-family: 'serious1', sans-serif;
  top: -10px; left: 0;
  padding: 10px;
}