@use "../base/globals";

.scanlines, .scanlines-bg {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("#{globals.$scanline}") repeat 0 center;
  animation: scanlines 300s linear infinite;
  pointer-events: none;
}

.scanlines {
  opacity: 0.6;
  mix-blend-mode: soft-light;
  z-index: 3;
}

.scanlines-bg {
  opacity: 0.6;
  mix-blend-mode: soft-light;
  z-index: -2;
}
.vignette {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.1) inset;
  z-index: 3;
}

.top-gradient {
	position: fixed; top: 0; left: 0;
	width: 100%;
	height: 30vh;
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	opacity: 0.3;
}

.hearts {
    display: flex;
    gap: 15px;
    justify-content: center;

	.heart-pink, .heart-purple, .heart-blue, .heart-white {
		transform:rotate(-3deg);
	}
    img {
      width: 60px;
      //filter: drop-shadow(5px 5px 10px var(--shadow-pink-020));
    }
}