@use "../base/globals";

.scanlines, .scanlines-bg {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("#{globals.$scanline}") repeat 0 center;
  animation: scanlines 300s linear infinite;
  pointer-events: none;
}

.scanlines {
  opacity: 0.4;
  mix-blend-mode: soft-light;
  z-index: 12;
}

.scanlines-bg {
  opacity: 0.8;
  mix-blend-mode: soft-light;
  z-index: -2;
}

.top-gradient {
	position: fixed; top: 0; left: 0;
	width: 100%;
	height: 30vh;
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	opacity: 0.1;
}

.left-deco {
	position: fixed; bottom: 0; left: 0;
	padding: 30px;
	height: 180px; opacity: 0.8;

	@media screen and (max-height: 950px) and (max-width: 900px) {
		display: none;
	}
}