@use "../base/globals";

.scanlines {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.15;
  background: #FFBFF0 url("#{globals.$scanline}") repeat 0 center;
  animation: scanlines 360s linear infinite;
  mix-blend-mode: soft-light;
  pointer-events: none;
  z-index: 3;
}
.vignette {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  box-shadow: 0 0 100px rgba(128, 36, 86, 0.15) inset;
  z-index: 3;
}

.hearts {
    display: flex;
    gap: 15px;
    justify-content: center;
    img {
      width: 60px; transform:rotate(-3deg);
      filter: drop-shadow(5px 5px 10px rgba(206,42,133,0.2));
    }
}